extends layout
block content
   div.weui_cells_title='螃蟹派云主机'
   div.weui_cells.weui_cells_form
      div.weui_cell
         div.weui_cell_hd
            label='账号'
         div.weui_cell_bd.weui_cell_primary
            input.weui_input(name='user',type='text',placeholder='请输入用户名')
      div.weui_cell
         div.weui_cell_hd
            label='密码'
         div.weui_cell_bd.weui_cell_primary
            input.weui_input(name='password',type='password',placeholder='请输入密码',value='')
      div.weui_cell
         button.weui_btn.weui_btn_primary(type='submit')='登陆螃蟹派'
         
   div.weui_cells_title='已使用螃蟹派主机的网站：'
   div.weui_cells
      div.weui_cell
         a(href='http://www.dobebox.com')
            div.weui_cell_bd.weui_cell_primary
               p='逗比盒子'
            div.weui_cell_ft
               p='一个神奇的盒子'
   div.weui_cells
      div.weui_cell
         a(href='http://www.zootopiatimes.com')
            div.weui_cell_bd.weui_cell_primary
               p='疯狂动物城时报'
            div.weui_cell_ft
               p='疯狂动物城里的第一大报'
   div.weui_cells
      div.weui_cell
         a(href='http://www.nickvpn.com')
            div.weui_cell_bd.weui_cell_primary
               p='nick的vpn'
            div.weui_cell_ft
               p='nick狐开设的vpn服务，疯狂动物城里的动物都用它。'
   div.weui_cells
      div.weui_cell
         a(href='http://www.lovelatter.cc')
            div.weui_cell_bd.weui_cell_primary
               p='情书'
            div.weui_cell_ft
               p='你想写一份情书吗？'
   div.weui_cells
      div.weui_cell
         a(href='http://www.bielu.net')
            div.weui_cell_bd.weui_cell_primary
               p='别撸'
            div.weui_cell_ft
               p='撸多了会伤身体，所以别撸。'
   div.weui_cells
      div.weui_cell
         a(href='http://www.zhiwuchaxun.com')
            div.weui_cell_bd.weui_cell_primary
               p='植物查询'
            div.weui_cell_ft
               p='你要找的植物，这里都有。'