extends layout

block content
  div.weui_msg
    h2='捐赠'
    p='本站租的阿里云服务器，云平台的开发与的运营、教学社区的建设都需要资金的支持'
    p='捐赠本站，您将免费得到价值200元的VIP包年账号'
    img(src='/images/qrcode.jpg')
    h2='捐赠者名单'
    p='小鸟读书'
    p='米衙'
    p='codetyphon'
    p='有个土老冒在巴黎开了一个水果店'
    p
      a(target='_bank' href='http://weidian.com/i/1772079572?wfr=c')='如果没有开发版，可以在此购买。(已经烧录好最新固件)'


