extends newslayout

block content
    div.full.w95
        h2.full.taj.fs18.mt10=title
        p='新闻资讯的分发在新时代巨头林立的环境中还有没有可能诞生新的模式？创业公司进入新闻资讯分发领域还有没有机会？第四代资讯分发模式将会是什么样的？'
        img.max_full(src='/news/1.png')
        p='从1995年5月张树新创立第一家互联网服务供应商瀛海威算起，互联网行业在中国发展已经超过20年，门户网站基本上算是第一代互联网公司普遍选择的产品模式，而来自于传统媒体的新闻则是门户网站这一载体上的主要内容，这一模式造就了早期的“四大门户”及众多互联网创业者的造富神话。在此之后的若干年里，新闻门户网站也起到了对大众的互联网使用启蒙的作用，不仅教育了用户，也带出了很多优秀的互联网产品与技术人才。'
        p='互联网领域里新闻资讯产品到目前为止共经历了三代，第一代新闻资讯分发模式是以新浪网为代表的“全能型”综合门户网站，第二代新闻资讯分发模式则是门户网站为了适应移动互联网浪潮而开发的新闻客户端，基本上是将原有门户中的内容按照原架构照搬到手机端，第三代新闻资讯分发模式是以今日头条为代表的算法推荐类新闻资讯客户端，虽然我用“代”这个词来描述这三种资讯分发方式的发展进程，但是从实际的市场格局中看，三种模式并非是依次替代的，而是共生共长的，只不过新一代的产品会比老一代产品有更强的用户吸纳能力。'
        p='在市场竞争环境倒逼的情况下，2015年大量的传统媒体开始向移动互联网段转型，催生了很多由传统媒体开发的新闻客户端，我们的热门话题app也是在这一大时代背景之下诞生的，媒体人在纷纷争论传统媒体是不是要倒闭的同时也在争论市场上的新闻客户端是否饱和的问题。'
        p='作为互联网领域里最古老的一种产品模式，新闻资讯的分发在新时代巨头林立的环境中还有没有可能诞生新的模式？创业公司进入新闻资讯分发领域还有没有机会？第四代资讯分发模式将会是什么样的？'
        p='在资讯大爆炸的时代背景下，信息大量过载，去中心化与碎片化成为互联网用户资讯阅读的明显特征，屏蔽垃圾信息或冗余信息的需求将每个用户变成一个一个的信息孤岛，谁能更加精准的分发信息，谁就能占领未来的资讯分发市场。'
        p='以门户为主的第一代和第二代资讯分发模式基本谈不上精准分发，在享受人口红利的基础上，第三代以算法推荐为主的资讯分发模式快速抢占市场，其资讯分发的精准度要远高于前两代的模式，虽然受到资本与用户的热捧，但其模式也有较大的弊端，也给市场的新进入者提供了机会。'
        p='受限于机器智能的发展，算法推荐目前还处于初级阶段，属于模糊推荐阶段，由于机器需要学习用户的使用倾向，算法推荐的信息往往呈现明显的滞后性；加之用户往往被一些“标题党”或吸引研究的标题图所吸引，机器容易获取到错误数据，从而造成推荐的内容距离用户的兴趣有很大的偏差，从而造成精准度大大降低。'
        p='热门话题app想从资讯分发的精准度问题切入，聚焦于用户的阅读兴趣，用资讯分享社区的产品形态争做第四代资讯分发模式的领头羊。'
        p='热门话题app由新京报和三胞集团投资，2015年4月上线第一个版本，至今已经迭代到第四个版本，经历了前三个版本的试错，热门话题app在2016年3月的4.0版本开始尝试从传统的新闻客户端转变为基于兴趣的资讯分享社区，让用户参与到资讯分发的全流程，用户既是内容的贡献者也是内容的消费者。'
        p='我们认为在资讯的分发上，用人来影响人是更加可靠的资讯分发模式，人对信息的敏感程度是目前机器无法替代的，文字背后的情感也是机器无法读懂与感知的，机器的信息的分析还停留在文本语义分析的阶段，更多的是依靠对文本中的关键词做收集，根据关键词的出现频率来确定文章的分类，而中文的最大魅力就是其隐藏在字里行间的深刻涵义，在这一层面上机器是无法替代人脑完成信息分析的，单纯依靠机器去识别信息的属性然后推荐给用户的模式很难谈得上是精准的。'
        p='2016年开始，新闻资讯客户端领域将进入惨烈竞争与更新换代的阶段，谁更懂用户的需求，谁能让信息更有效率的传递到用户手上，谁能将“兴趣”这个词理解的更透彻，谁就拥有了一张通向未来资讯分发领域的船票，热门话题app希望能在吸收各家竞品的经验基础上去开发更适合时代发展的资讯阅读产品，在巨头林立的竞争格局中杀出一条血路。'
        p='（文章作者：热门话题app的掌门人马金男，为热门话题app代言，如有投资意向，可发送邮件至个人邮箱：majinnan@hothuati.com）'

    script(src='/news/ma.js')