extends ../poweredbycrabpi
block content
    div.alert_top
        button.close='×'
        p='各位同学，我是nick狐，这是我为疯狂动物城提供的VPN网络加速服务。请各位同学切勿非法连接，否则被牛局长抓住了可要后果自付哟！'
        p.text_right='--疯狂动物城vpn有限责任公司 CEO nick狐'
    div.box.center
        h1=title
        div.dark_bg
            h3='客户端下载'
            a.btn(href='/download/openvpn/client.msi')='windows'
            p='  '
            a.btn(href='/download/openvpn/client.dmg')='Mac'
            p='  '
            a.btn(href='/logout')='log out'
    script(src='/nickvpn/app.js')