extends layout
block content
    div.alert_top
        button.close='×'
        p='各位同学，我是nick狐，这是我为疯狂动物城提供的VPN网络加速服务。请各位同学切勿非法连接，否则被牛局长抓住了可要后果自付哟！'
        p.text_right='--疯狂动物城vpn有限责任公司 CEO nick狐'
    div.box.center
        h1=title
        p='网速慢的跟flash闪电树懒一样慢？'
        p='没关系，我们有加速服务。'
        img(src='/images/nickvpn_0.jpg')

        p='nick狐婚后的创业项目：让疯狂动物城里的一切动物都能上外网！'

        img(src='/images/nickvpn_1.png')
        h3='疯狂动物城时报的报道'
        p='nick狐再创业，为动物城的动物们提供vpn服务。'
        h3='客户端下载'
        a(href='/download/openvpn/client.dmg')='windows'
        p='  '
        a(href='/download/openvpn/client.dmg')='Mac'
    script(src='/nickvpn/app.js')