extends layout

block content
    link(rel='stylesheet', href='/api/data.css')
    h2='PV 统计'
    p
        span='总PV:'
        span.all_pv='正在获取中...'
    p
        span='ios PV:'
        span.ios_pv='正在获取中...'
    p
        span='android PV:'
        span.android_pv='正在获取中...'
     
    h2='操作系统'
    div#Chart_os(style='height:400px')  
    h2='设备'
    div#Chart_pc_mobile(style='height:400px')  
    h2='app'
    div#Chart_app(style='height:400px')  
    h2='品牌'
    div#Chart_name(style='height:400px')    
    script
        | var data=!{data};
    script(src='http://echarts.baidu.com/build/dist/echarts.js')    
    script(src='/javascripts/data.js')    
    