extends layout
block content
      link(rel='stylesheet', href='/works/huangxiangli/style.css')
      
      div.gong.hide.full.pf.table
        div.pan.cell
            div.full.table
                div.cell
                    img.act1.cell(src='/works/huangxiangli/h5_1.png')
                div.cell
                    img.act2.cell(src='/works/huangxiangli/h5_2.png')
                div.cell
                    img.act3.cell(src='/works/huangxiangli/h5_3.png')
            div.full.table
                div.cell
                    img.act4.cell(src='/works/huangxiangli/h5_4.png')
                div.cell
                    img.act5.cell(src='/works/huangxiangli/h5_5.png')
                div.cell
                    img.act6.cell(src='/works/huangxiangli/h5_6.png')
            div.full.table
                div.cell
                    img.act7.cell(src='/works/huangxiangli/h5_7.png')
                div.cell
                    img.act8.cell(src='/works/huangxiangli/h5_8.png')
                div.cell
                    img.act9.cell(src='/works/huangxiangli/h5_9.png')
      div.welcome.full.pf
        div.upbtn.pa
            img.up(src='/works/huangxiangli/upbtn.png')
      div.w95.mt10.hide
      div.full.pf.alert_pan.hide
        div.alert.text1
            div.alert_msg
                p='【人物简介】'
                p='黄湘丽'
                p='出生日期：1985年2月9日'
                p='出生地：湖南'
                p='星座：水瓶座'
                p='身高：170'
                p='代表作品：话剧《你好，忧愁》《一个陌生女人的来信》《恋爱的犀牛》'
                p='毕业院校：中央戏剧学院'
                img.full(src='/works/huangxiangli/h5_1.png')
            div.alert_close
        div.alert.text2
            div.alert_msg
                p='Act 1'
                p='我成了一个没读过大学的舞蹈演员？'
                p='不行，太low了。'
                p='湖南妹子黄湘丽，从小就是学校里的文艺积极分子。小学毕业时，她被一个妈妈的朋友、一位舞蹈老师发现是根跳舞的好苗子，家人征求她的意见，她毅然决定到北京上舞蹈学校。正如每一个水瓶座一样，黄湘丽骨子里就埋下了对自由的向往，虽然前路不明，她却暗自渴望“逃离爸妈的魔掌，去外面的世界看看”，就这么来了首都。'
                img.full(src='/works/huangxiangli/h5_2.png')
                p='从舞蹈学校毕业，赶上APEC会议召开，东方歌舞团招一批演员入团跳一个节目去APEC演出，黄湘丽顺利考进了团，成为一个群舞演员。“16 岁的年纪去了那样的舞台已经很幸运，家里人还挺自豪，可是APEC 的21 国首脑见到谁了？根本没空看，都坐一排，就自己跳，跳完走了，安保贼严。后来去全国巡演，基本上各省都去了，还在人民大会堂演出”。待了两年，日子过得无忧无虑，黄湘丽却越发觉得，“那不是我想要的”。'

                p='“我挺喜欢跳舞的，但那时候对舞蹈的理解还不像现在，在团里就是跳具体节目，也不可能有发挥。我进团的时候只是中专毕业，如果一辈子待那儿，我就成了一个没读过大学的舞蹈演员？不行，太low 了。当然了，进了东方谁还愿意出来呢，进去多不容易”。'

                p='2002 年，18 岁的黄湘丽挺坚决地递了辞呈，去报考中央戏剧学院，结果一举中的。对她而言，在中戏的四年，每天想着怎么把作业做好，排练排好，闲来无事就坐在操场上看着帅哥们踢球，平静而美好。'

                p='2007年毕业，她和同学一起去考了北京人艺，没考上。没多久，又接拍了一部电视剧。忙到次年年初，听同学说起孟京辉工作室招人的消息，她打算再去试试。'
            div.alert_close
        div.alert.text3
            div.alert_msg
                p='Act2' 

                p='心血来潮剪去留了二十多年的长发'
                
                img.full(src='/works/huangxiangli/h5_3.png')

                p='我这是怎么了？'

                p='要把孟京辉麾下一批年轻靓丽的演员们都认全，总是需要些时间。所以我们认识黄湘丽，也同样费了点时间。早年，一头长发的她混迹在一群演员中，缺乏辨识度。大约在2010、2011 年，她心血来潮地剪去留了二十多年的长发，清丽的面庞开始引人注目。'

                p='也许剪头发对女孩来说，总是有着特别的仪式感，对性格也似乎有潜移默化的影响。“（剪了头发）人变得更加干脆和爽朗。有一次我把车开得贼快，我这是怎么了”。短发的黄湘丽，也逐渐焕然一新，这个在中央戏剧学院拿过国家奖学金的好好学生，“开始不像以前那样循规蹈矩”。'

                p='在2012 年，黄湘丽接演了《恋爱的犀牛》里的女主角“明明”。成为“明明”之前，黄湘丽是08 版“犀牛”中的“莉莉”，一个负责插科打诨的喜剧人物。直到08 版“明明”齐溪转战影视圈发展后，继续留守在戏剧舞台的黄湘丽受导演重用，获得了这个重要的角色，成为了继吴越、郝蕾、王柠、齐溪之后的第五个“明明”，一个更清甜柔美的“明明”。几乎是同时期，她还在香港戏剧人詹瑞文的话剧《桃色办公室》里出演了一个呆萌的大舌妹，收获了剧场里最多的笑声。'
            div.alert_close
        div.alert.text4
            div.alert_msg
                p='Act3 '
                p='在舞台上一连脱了十几条内裤'
                p='尝试很多勇敢的事'
                p='真正让黄湘丽成为戏剧明星的要数2014 年的《一个陌生女人的来信》。这出黄湘丽“个人秀”的诞生纯属偶然。当时，同剧组的演员不约而同因私事请了假，正在放假的黄湘丽在孟京辉的建议下，开始琢磨茨威格的这本小说。其间，经历无数次失败，在导演的提点下，她开始尝试创作歌曲，最终找到了角色的入口。'
                p='在这部戏里，她一人独撑两个小时，从青涩的初恋演到疯狂的虐恋。她演少女，一身白色连衣裙，四肢柔韧颀长，雀跃的短发里透着柠檬味的清香，一个涉世未深，沉浸在自己世界中的女孩；她演的妓女则是魅惑、疯狂、危险与决绝的混合体，看《一个陌生女人的来信》的观众没有人会忘记她敞着白衬衫，露出黑色文胸和紧实的腹部，一连脱了十几条内裤表现与不同人做爱的大胆处理。'
                p='舞台上的黄湘丽，牢牢吸引着所有人的目光，流畅地切换着自己的十几种人格，演绎一个女人的一生。也因为这部戏，她的才华被看见，从此不再是“陌生女人”，而成为备受关注的剧坛明星。'
                img.full(src='/works/huangxiangli/h5_4.png')
                p='第一部独角戏成功后，2015 年底黄湘丽又推出了以萨冈同名小说改编的《你好，忧愁》，讲述青春期的叛逆故事。这部戏今年上半年持续在全国巡演。她的观众视她为女神，还有不少人一遍又一遍来看同一部戏，这令她倍受鼓舞。她也享受着做演员的幸福，每个夜晚，在剧场里跟观众进行“能量的交换”，觉得特别满足。“（做演员）你还可以做那么多别人在生活中永远做不了的事，把自己变成那么多不同的样子，尝试很多勇敢的事。我们某种意义上是很自由的”。'
                
                p='【在台下】'
                p='●进入孟京辉工作室的第八个年头，黄湘丽累计演出1800场，拥有了一票自己的粉丝。'
                p='●有演出的时候，黄湘丽通常提前两三个小时到剧场化妆、候场。因为在舞台上肢体运动太大，上台前不能多吃，吃一根香蕉，或一点面包垫垫肚子，如果完全不吃，则会有体力透支、虚脱的危险。'
                p='●上台前，她会进行热身，保持身体的柔软灵活，避免受伤。曾是舞蹈演员的她，有自己的一套热身方法，“有点像瑜伽”。'
                p='●在成为职业话剧演员的第八年，她已经很懂得如何照顾自己。不演出时，她靠睡觉恢复体力，多喝水，吃水果，尽量少说话保护嗓子。'
            div.alert_close
        div.alert.text5
            div.alert_msg
                video(id="tenvideo_video_player_0",controls,width="100%",height="100%",x-webkit-airplay="true",webkit-playsinline="true",preload="none",poster="http://shp.qpic.cn/qqvideo_ori/0/n0191yh4bh9_496_280/0",src="http://220.181.91.16/vhot2.qqvideo.tc.qq.com/n0191yh4bh9.mp4?vkey=A91BD52C93BC80C07EA583E34270DE6058131AD142AE7E2685C97726114405323F6DF7C398CD25D8E639D0B55332D967290796EC727A169E5AE7C0D9808421E5F580E3AEAE56B2995A41956C367EE1F01FAFAE64A02C50A8&amp;br=60&amp;platform=2&amp;fmt=auto&amp;level=0&amp;sdtfrom=v5010")
            div.alert_close
        div.alert.text6
            div.alert_msg
                p='● 在话剧之外，她还是进过国家院团的专业舞蹈演员，开过演唱会的创作歌手。如今，蜂巢剧场的前厅依然挂着她的手工上色的摄影作品，那是她的个人摄影展“黑的白的”。孟京辉送她外号，“剧坛百变女郎”。'
                img.full(src='/works/huangxiangli/h5_6.png')
                p='●生活中的丽丽不像舞台上那么有距离感，她对熟悉的朋友展露着独属于她的热情。私下里的她，会做饭，会烘焙，尽管了无章法，但竟然做的菜都很好吃。“我是一个热爱生活的人，热爱生活，也是跟舞台有关的，只有你热爱生活才会对很多事好奇，有欲望想知道它，跟在舞台上尝试很多角色是一样的”。'
                p='●她曾在波兰克拉科夫观看瓦里科夫斯基导演的《华沙卡巴莱》，戏里的一位年轻女演员是她努力的目标。“那是我现在觉得最牛的女演员，她表演的那种精准、魅力、自由，真是太好了，有她非常独特的魅力。外国演员的自由，对于戏剧的理解和热爱，也是很不一样的，他们确实是发自内心地享受舞台。在国内，你很少看到谁那么去享受”。'
                p='●黄湘丽自知不是天才型演员，总是比别人努力得多，“我自己有一个感受，只要不努力，就会很紧张，时刻有根弦绷着”。正如与她合作两部独角戏的戏剧构作王好说：“一个人把时间花在哪里是看得到的”，即便是休假，黄湘丽也总是在计划着自费出国看看戏。“你去海滩上纯休息，待两三天就够了。（出国看戏）那种特别充实，比单纯旅游好多了”。去年底连续四个月的演出，让她体力消耗过大，而去了一趟立陶宛，看了一圈戏，立马又生龙活虎。'
            div.alert_close    
        div.alert.text7
            div.alert_msg
                p='【黄湘丽VS孟京辉】'
                img.full(src='/works/huangxiangli/h5_7.png')
                p='●多年以后，孟京辉导演曾回忆起黄湘丽当初面试的情景，大导演对这个居然没看过他的戏就敢来面试的小演员颇为不满。“当时觉得她特差，完全是看在×××（工作室某个演员）的面子上让她进来了。一问是哪儿的，中戏表演系的，专业还是全班特好。我一想，戏剧学院怎么回事啊，怎么培养出这么个人。但是她特努力，鉴于她努力就先留着了”。'
                p='作为孟京辉导演的爱将，孟京辉对黄湘丽的期许是，成为一个“牛逼的女演员”。“导演说，首先你得是好演员，然后是优秀的演员，然后是非常优秀的演员，再往上是比较牛逼的演员，接着才是非常牛逼的演员”。黄湘丽认为自己还在最底层，离“非常牛逼”差得很远。在她看来，她的同事张弌铖，前辈郝蕾，都是天才型演员。而她自己，“有天分，但不是很高的那种”，是一个“还可以的演员”。'
            div.alert_close
        div.alert.text8
            div.alert_msg
                p='黄湘丽谈孟京辉'
                img.full(src='/works/huangxiangli/h5_8.png')
                p='新京报：跟孟京辉导演合作八年，他带给你最大的改变是什么？'
                p='黄湘丽：他给了我们一种全新的生活，这种生活是跟戏剧有关的。我们有时候吃着饭、喝着酒觉得，我们是很幸运的，我们能做戏剧，还做得这么高兴。好多人的工作都只是工作，而我们在享受工作的过程，这太难得了。人生最开心快乐的肯定就是跟戏剧有关的时候，在蜂巢演出的日日夜夜。工作室的好多演员都是08年毕业同时来的，人的一生中有几个八年能和同样的一群人这样成长，他们就跟亲人一样。'
                p='新京报：和孟导的工作方式是怎样的？'
                p='黄湘丽：在工作室，为什么能待这么长时间，就是因为工作状态太好了。导演从来不会去限制你的想法，不会主观武断地说你的想法不好。他永远让你把你想表达的先做出来，他再进行挑选，给你非常大的空间去翻腾，就演吧，演出来好像不是特别合适，那再换一种。让我特别自由，不会有什么压力。相信导演是很重要的，再不停地把自己的能量和想法贡献出来，才能跟导演进行对话。'
            div.alert_close
        div.alert.text9
            div.alert_msg
                p='新鲜问答'
                p='新京报：你早年也拍过电视剧，有没有想过尝试影视剧？孟导之前合作的很多演员都在影视圈发展很好，也包括你的前同事齐溪。'
                p='黄湘丽：我没有想过。他们想去（演影视），会散发出一种愿望。有时候那是需要去混那个圈子的，要有那个圈子的朋友。我没有，我没想那么多。我的精力是有限的，我希望专注于一件事上。既然我没有这个愿望，就不会有那个圈子的任何信息，慢慢也就隔绝了，我就是在这儿。而且我觉得演话剧就特别好了，这是我最开心做的事情，就做呗。'
                p='新京报：演了这么多戏，戏剧对你来说还有什么乐趣？'
                p='黄湘丽：乐趣太大了。现在我演《你好，忧愁》，我就想怎么好好演，四月去上海又会有新想法，演完又接着想下一个能排什么。还有那么多好戏可看，老能看到好演员，无止境的要学习。'
                p='新京报：最近在看什么书？'
                p='黄湘丽：一本文艺复兴的书，前面20 多页都在讲地理位置，海上航线，为什么会出现文艺复兴，给你解释分析，原来艺术的发展还跟很多因素都有关系。最近还买了一套博尔赫斯全集。去年看最喜欢的就是《百年孤独》，太好看了。'
                p='新京报：你也写歌，这阵子在听什么音乐？'
                p='黄湘丽：Tom Waits，Nick Cave 这些。有时候开车会听古典音乐的调频。'
                img.full(src='/works/huangxiangli/h5_9.png')
            div.alert_close
        
        
        
      div.text.full.hide
        h3='剪了短发后，黄湘丽的人生开了挂'
        p='独角戏《你好，忧愁》开启全国巡演，加入孟京辉工作室八年累计演出已达1800场'
        
        div.w95
            blockquote 
                p='从2008年蜂巢剧场开幕至今，我几乎看全了黄湘丽所有的戏，包括《恋爱的犀牛》《桃色办公室》《新娘》《蝴蝶变形记》《三个橘子的爱情》《一个陌生女人的来信》。也因为戏，跟她总有一种莫名的亲近感。作为观众，我看到她是如何一步步受到重用，直到像今天这样光彩夺目。作为记者，我在五年前就曾专访过她，也在每一部新戏的发布会和排练探班上见到她，也在剧场观众席看过她脱下戏服后的文艺女青年style。她似乎没有多大的变化，作为采访对象，她远远够不上健谈，有些经历，但没什么太戏剧太曲折的故事，讲起来也是平平淡淡真真切切。'
                p='我感到，她身上兼有水瓶座的自由闲散与执拗较劲，前者是因为好像世界上大多数事情都和她没有关系，后者是因为戏剧。我在想，或许她不是因为剪了短发才被更多人看到，而是因为这个黄湘丽早已经蛰伏了许久，只等待着一个属于她的时间到来。就像一朵花，静候绽放。而现在，就是她的时间。采写/新京报记者陈然人物摄影/新京报记者郭延冰'

                
               
            
               
                
                img.full(src='/works/huangxiangli/9.png')
            div.page.page_5.hide    
                
            
                img.full(src='/works/huangxiangli/10.png')
                
                p='出品：新京报文娱事业部 动新闻总策划：金秋 祝炳琨 甘丹 李世聪统筹：吴冬妮 郑淇 新媒体编辑：田偲妮 记者：陈然摄影：郭延冰视频策划：赵晶磊 陈硕 赵丹 段岚丽 编导：陈硕  摄像：郭延冰剪辑：陈硕 后期动画：蓝保元 管乐 李骅霖 场地鸣谢：蜂巢剧场'
                #back_to_top
                script(src='/javascripts/jquery.backtotop.js')  
                script(src='/javascripts/init.js')
                script(src='/works/huangxiangli/app2.js')

