extends layout

block content
  h1= title
  div.button_sp_area
    button.switch.weui_btn(switch='led_on')='led on'
    button.switch.weui_btn(switch='led_off')='led off'
    button.switch.weui_btn(switch='lamp_on')='lamp on'
    button.switch.weui_btn(switch='lamp_off')='lamp off'

  div#toast(style='display:none')
    div.weui_mask_transparent
      div.weui_toast
        i.weui_icon_toast
        p.weui_toast_content='已完成'
  script(src='/ctrl/ctrl.js')
