doctype html
html
    head
        title= title
        meta(name='viewport',content='initial-scale=1.0,maximum-scale=1,user-scalable=no')
        link(rel='stylesheet', href='/stylesheets/weui.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/jquery.particleground.min.js')
        script(src='/javascripts/jquery.alertclose.js')
        script(src='/javascripts/jquery.imgloader.js')
        script(src='/javascripts/jquery.backtotop.js')
        script(src='/javascripts/init.js')
        script(src='/javascripts/view.js')
    body
        - if (user)
            div.weui_tab
                div.weui_tab_bd
                div.weui_navbar
                    a.weui_navbar_item.weui_bar_item_on(href='/')
                        p.weui_tabbar_label='主页'
                    a.weui_navbar_item.weui_bar_item_on(href='/switch')
                        p.weui_tabbar_label='云开关'
                    a.weui_navbar_item(href='/download')
                        p.weui_tabbar_label='下载'
                    a.weui_navbar_item(href='/about')
                        p.weui_tabbar_label='捐赠'
                    a.weui_navbar_item(href='/user')
                        img.user_face(width='40',height='40',src='#{user.face}')
                        //p.weui_tabbar_label=user.fullname

        div.box
            block content
        div.footer
            p.text_center
                span
                    Copyright &copy;
                span=' '
                span
                    script
                        | document.write(new Date().getFullYear());
                span=' www.snailPi.com'
                span.view_count
             p.text_center
                a(href='/switch_square')
                    span.user_count
                    span='建立了'
                    span.switch_count
        div#back_to_top