extends layout
block content
    link(rel='stylesheet', href='/bitchwho/home.css')
    div.navigation
        a=title
        a(href='/switch').current='云开关'
        a='讨论'
        a='提问'
        a(href='/logout')='退出'

    div.box.switch_create
        input.name(name='name',placeholder='开关名称')
        button.switch_submit_btn='create'
    div#back_to_top
    script(src='/javascripts/jquery.imgloader.js')
    script(src='/javascripts/jquery.backtotop.js')
    script(src='/snailpi/switch_create.js')