extends layout
block content
    link(rel='stylesheet', href='/bitchwho/home.css')
    link(rel='stylesheet', href='/snailpi/switch.css')
    div.navigation
        a=title
        a(href='/switch').current='云开关'
        a(href='/logout')='退出'
    div.border
        div.pan
            h2='云开关'
        div.separator
            div.arrow_1
            div.arrow_2

        div.pan
            a(href='/switch/create')='创建一个云开关'
        div.pan
            p='LED'
            p='LAMP'

    div#back_to_top
    script(src='/javascripts/jquery.imgloader.js')
    script(src='/javascripts/jquery.backtotop.js')
    script(src='/bitchwho/home.js')