extends ../layout
block content
    link(rel='stylesheet', href='/works/tailand/css/public.css')
    div.fullpage.come_on_share.pr
        img.full(src='/works/tailand/img/share/1.png')
        img.full(src='/works/tailand/img/share/2.png')
        div.full.pr
            img.full(src='/works/tailand/img/share/3.png')
            div.user_info_area.pa
                span.text='小伙伴们，我是'
                span.username='codetyphon'
            div.user_invite_code.pa='ak47'
            div.btn.goto_join_btn_from_share.pa
        div.full.pr
            img.full(src='/works/tailand/img/share/li_top.png')
            div.up_me_info_text_area.pa
                span='共'
                span.up_me_count='22'
                span='人为我加油，距离获奖还需28个好友支持'
        div.full.users
            div.full.pr
                img.full(src='/works/tailand/img/share/li.png')
                div.info.table.pa
                    div.username.cell.tal='codetyphon'
                    div.up.cell.tar='+1'
            div.full.pr
                img.full(src='/works/tailand/img/share/li.png')
                div.info.table.pa
                    div.username.cell.tal='codetyphon'
                    div.up.cell.tar='+1'
        //more
        div.full.pr.hide
            img.full(src='/works/tailand/img/share/li_bottom.png')
            div.btn.pa.get_more
        //no more
        div.full.pr
            img.full(src='/works/tailand/img/share/li_bottom_no_more.png')
        div.full.pr
            img.full(src='/works/tailand/img/share/4.png')
            div.btn.download_app.pa
    script(src='/works/tailand/app.js')