extends ../layout
block content
    link(rel='stylesheet', href='/works/tailand/css/public.css')
    div.fullpage.come_on_des.pr
        img.full(src='/works/tailand/img/des/1.png')
        img.full(src='/works/tailand/img/des/2.png')
        div.user_area.pa.table
            div.user_face_area.cell_top
                div.user_face_border
                    img.full(src='/works/face.jpeg')
            div.user_name.cell_middle='codetyphon'
        div.my_invite.pa='ak47'
        div.pa.btn.btn_share_to_friends
        div.up_me_info_text_area.pa
            span='共'
            span.up_me_count='22'
            span='人为我加油，距离获奖还需28个好友支持'
    div.full.come_on_des.users
        div.full.pr
            img.full(src='/works/tailand/img/share/li.png')
            div.info.table.pa
                div.username.cell.tal='codetyphon'
                div.up.cell.tar='+1'
        div.full.pr
            img.full(src='/works/tailand/img/share/li.png')
            div.info.table.pa
                div.username.cell.tal='codetyphon'
                div.up.cell.tar='+1'
    //more
    div.full.pr
        img.full(src='/works/tailand/img/share/li_bottom.png')
        div.btn.pa.get_more
    //no more
    div.full.pr.hide
        img.full(src='/works/tailand/img/share/li_bottom_no_more.png')

    div.full.come_on_des.pr
        img.full(src='/works/tailand/img/share/li_top.png')
        div.title.pa='活动细节'
    div.full.come_on_des.text_area
        div.full
            div.info.table
                div.number_area.cell_top.tal
                    div.number_border
                        div.number='1'
                div.text.cell_top.tar
                    p='不能作弊哦，必须是真实好友用自己的手机为你加油，如果作弊，我们将取消你的获奖资格哈~做人要诚信哦'
                    div.dotted_line

        div.full
            div.info.table
                div.number_area.cell_top.tal
                    div.number_border
                        div.number='2'
                div.text.cell_top.tar
                    p='当满足有50个好友为您加油时，我们将为您发送一条中奖通知，请按照通知中列明的方式领奖。'
                    div.dotted_line
        div.full
            div.info.table
                div.number_area.cell_top.tal
                    div.number_border
                        div.number='3'
                div.text.cell_top.tar
                    p='如果超过50个好友为您加油并达到50的倍数时，我们会加送您相对应的旅游名额，比如有100个好友为您加油，则您将获得2个免费旅游名额。'
                    div.dotted_line
        div.full
            div.info.table
                div.number_area.cell_top.tal
                    div.number_border
                        div.number='4'
                div.text.cell_top.tar
                    p='本次活动的奖品为5天4晚泰国免费旅游，包含您落地泰国后的吃住玩的所有费用，例如：4晚酒店住宿，全程旅游巴士，导游讲解，一日三餐，景点门票等，但不包含往返机票，往返机票需您自行购买。本旅游奖品价值人民币3000元。'
                    div.dotted_line
        div.full
            div.info.table
                div.number_area.cell_top.tal
                    div.number_border
                        div.number='5'
                div.text.cell_top.tar
                    p='本次活动的解释权归热门话题app所有，如果有疑问，加我们的微信留言，每条必回哈~我们的微信号：热门话题榜'

    div.full.pr
        img.full(src='/works/tailand/img/des/bottom.png')
    script(src='/works/tailand/app.js')