extends ../layout
block content
    link(rel='stylesheet', href='/works/tailand/css/public.css')
    p='time:2016-03-28'
    p='因为设计重新设计，所以需要重新切图。'
    ul
        li
            a(href='/work/tailand/index')='tailand_index'
        li
            a(href='/work/tailand/description')='description'
        li
            a(href='/work/tailand/join')='join'
        li
            a(href='/work/tailand/share')='share'