extends layout
block content
    link(rel='stylesheet', href='/bitchwho/home.css')
    div.navigation
        a=title
        a.current='发现'
        a='观点'
        a='提问'
        a(href='/logout')='滚蛋'

    div.box.about.tc
        h2='Who are we?'
        img.imgloader.ma.mt10(low_src='/bitchwho/about/about_low.png',middle_src='/bitchwho/about/about_middle.png',high_src='/bitchwho/about/about_high.png')
    div#back_to_top
    script(src='/javascripts/jquery.imgloader.js')
    script(src='/javascripts/jquery.backtotop.js')
    script(src='/bitchwho/home.js')