extends ../newslayout

block content
    div.full.w95
        h2.full.taj.fs18.mt10=title
        p='马金男说他一夜没睡好。'
        img.max_full(src='/news/1.png')
        p='近期，关于“逼宫”股东出售股份的消息，把热门话题CEO马金男推上了风口，这股风来自投资人、团队、业界，还有一些看热闹不嫌事儿大的人。'
        p='马金男表示，“我确实提出了管理层股权收购，但这都是正大光明的、有计划的，并非如外界想象的那样——脸红脖子粗的争吵，甚至充满阴暗的内斗”。'
        p='界面新闻此前报道称，马金男“目前似乎心意已决，如果股东方无法同意出让股份，他会带领团队离开”。'
        p='“带队出走只是一句玩笑话，不能当真的”，马金男说。'
        p='据了解，热门话题首轮投资1800万，三胞集团占股55%，新京报35%，剩下10%的股份由团队出资购得。'
        p='马金男此次发起管理层股权收购，是想用自有+筹措资金收购三胞集团的股份，毕竟新京报的股份属于国资，操作较难，“有朋友和机构也很支持我，想要加入进来，但是我拒绝了，因为不想让现在的股权结构变得更加复杂”。'
        p='马金男称这个决定是为了股东和团队的长远利益，并非个人短见，“这是出于对公司、团队和股东负责的角度去做的，也是深思熟虑的结果，依照互联网公司普遍的股权结构模式，团队占有控股权才能实现权责分明，才能使管理更加有效，从而对股东带来更合理的回报。”'
        p='据了解，马金男目前手上只有3%的股份，想要绝对控股，钱少不了。对于这笔钱能不能到位，马金男称有一定困难，但一定会有。'
        p=''
        p=''

    script(src='/news/ma2.js')